
#topPanel { margin:0; position:relative; }


.box2, .box3 { padding-left:0; }

// body starts


.bodyC {
    position:relative;
    padding:0;
    background-color:#f1f1f1;
    margin-right:-15px;
}

.calendar, .trending, .sports { 
    height:350px;
    background-color: #959595;
    color:white;
    font-size: .8rem;
}

.imgText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left:12%;
}

// schedule starts

.courseStuff, .calendarStuff, .lowerPanelNav, .footerStuff { margin:0; }
.courseInfo { 
    position:relative;
    left:40px;
    font-weight:300;
    color:#969595;
}

.courseInfo h2 { 
    font-weight:300; 
    font-size:4.2rem;
    padding-top:10px;
}



.weeklySched {
    position:relative;
    left:40px;
    color:#969595;
    margin-top:30px;
    margin-bottom:30px;
}

.weeklySched > ul { margin-bottom:0; }

.lowerPanelNav { font-size:1.8rem; }

.lowerPanelNav li { margin-right:60px; cursor:pointer; }
.lowerPanelNav li:last-child { margin-right:0; }

.bottomCalendar { position:relative; left:40px; }

.dayBox { background-color:#eaeaea; color:#9b9b9b; width:90%; height:275px; }
.dayMarker { font-size:6rem; font-weight:700; position:relative; top:-20px; }
.dayBox i {  font-size:3rem; }
.dayBox i:last-child { position:relative; top:-30px; }

hr { border-color: #ccc; }

.calendarStuff hr { margin-top:0; }
.courseInfo hr { max-width:185px; margin-left:0; }

table { color:#a4a9ae; }

th {  padding-bottom:20px; font-size:1.5rem; color:#999; background-color:transparent; }
td { font-size:1.45rem; padding:10px 0; }
table th:first-child, table td:first-child { padding-left:30px ;}

table tr:nth-child(2n+1) { background-color:#f0f2f5; }
table tr:nth-child(2n+2) { background-color:#f6f8fa; }
td span { margin-left:12px; margin-right:6px; font-size:1.85rem; color:#ccc; }
td span:nth-child(1) { margin-right:0; }
td span:nth-child(2) { margin-right:0; }
td i { font-size:5rem; }

.stretchCell { width:210px; }
.wideCell { width:30% ;}
.locked { color:red; }
.viewed { color:#a3cb7c; }
.notViewed { color:#d6b600; }
.fbActive { color:#666; }


// schedule ends



// body ends