$display:inline-block;
$background-color:#eff3f4;
$background-color-white:#f1f1f1;
$background-color-box: #959595;
$cursor: pointer;
$menu-color-yellow:#f3d83f;
$font-size:16px;
$font-family: 'Lato', sans-serif;
$body-background-color: #505050;



